<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/building-construction-wallpaper.jpg');">
    <div class="filter"></div>
</div>

<div class="section">
    <div class="container description">
        <h2 class="title">Quem somos</h2>
        <p>A RPF Engenharia e Energia é uma empresa goiana fundada na cidade de Britânia/GO, atuando no
            desenvolvimento de projetos e instalações sustentáveis, com ênfase na geração de energia
            solar fotovoltaica, tornado uma solução limpa e renovável.</p>
        <br>
        <p>A RPF Engenharia e Energia tem uma solução completa para geração de Energia Solar
            Fotovoltaica, oferecemos à análise de viabilidade, desenvolvimento dos projetos,
            instalação, aprovação da documentação junto à concessionária de energia, assessoria
            junto aos Bancos, no caso de projetos financiados, manutenção e monitoramento do
            sistema pela internet. Trabalhamos com os melhores equipamentos disponíveis no
            mercado.</p>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="motto text-center animated bounceInUp">
                    <h3>Visão
                        <hr>
                    </h3>
                    <p>Tornar a RPF Engenharia e Energia uma empresa de referência no segmento da construção civil e energia renovável, contribuindo com o desenvolvimento de nossa região implementando a tecnologia e promovendo a satisfação das necessidades de nossos clientes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="motto text-center animated bounceInDown">
                    <h3>Missão
                        <hr>
                    </h3>
                    <p>Disponibilizar ao mercado soluções de engenharia que atendam às necessidades de nossos clientes, buscando a otimização dos custos e preservação dos recursos naturais.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="motto text-center animated bounceInUp">
                    <h3>Valores
                        <hr>
                    </h3>
                    <p>Qualidade, Honestidade, confiança, ética, agilidade e preço.</p>
                </div>
            </div>
        </div>
    </div>
</div>
