<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fundo_empresa.jpg');">
    <div class="filter"></div>
</div>

<div class="section section-dark">
    <div class="container description">
        <h2 class="title">Quem somos</h2>
        <p>A RPF engenharia é uma empresa goiana fundada na cidade de Britânia/GO, atuando no
            desenvolvimento de projetos e instalações sustentáveis, com ênfase na geração de energia
            solar fotovoltaica, tornado uma solução limpa e renovável.</p>
        <br>
        <p>A RPF Engenharia tem uma solução completa para geração de Energia Solar
            Fotovoltaica, oferecemos à análise de viabilidade, desenvolvimento dos projetos,
            instalação, aprovação da documentação junto à concessionária de energia, assessoria
            junto aos Bancos, no caso de projetos financiados, manutenção e monitoramento do
            sistema pela internet. Trabalhamos com os melhores equipamentos disponíveis no
            mercado.</p>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="motto text-center animated bounceInUp">
                    <h3>Visão
                        <hr>
                    </h3>
                    <p>Ser uma empresa renomada e admirada no mercado brasileiro de energia solar.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="motto text-center animated bounceInDown">
                    <h3>Missão
                        <hr>
                    </h3>
                    <p>Oferecer aos nossos clientes soluções energéticas com qualidade, segurança, agilidade e
                        satisfação.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="motto text-center animated bounceInUp">
                    <h3>Valores
                        <hr>
                    </h3>
                    <p>Qualidade, Honestidade, confiança, ética, agilidade e preço.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-gray text-center">
    <div class="container">
        <h2 class="title">Sobre nós</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a [routerLink]="['/user-profile']"><img src="./assets/img/faces/roswel.png" alt="Foto Roswel"></a>
                    </div>
                    <div class="card-block">
                        <a [routerLink]="['/user-profile']">
                            <div class="author">
                                <h4 class="card-title">Roswel Piovezani</h4>
                                <h6 class="card-category">Engenheiro Civil</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Engenheiro Civil de formação e proprietário da empresa RFP Engenharia.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-link btn-just-icon "><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-link btn-just-icon "><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="btn btn-link btn-just-icon "><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>