<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/civil-construction-wallpaper.jpg');">
	<div class="filter"></div>
</div>
<div class="main">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto">
					<h2 class="title">Aqui estão nossos Serviços</h2>
					<br>
				</div>
			</div>
			<div>
				<div class="sections">
					<img src="assets/img/solar-energy_icon.svg">
					<h3 class="title">
						Energia Solar
					</h3>
				</div>
				<ngb-accordion #accA="ngbAccordion" activeIds="ngb-panel-0">
					<ngb-panel title="Bombeamento Solar" type="warning">
						<ng-template ngbPanelContent>
							A energia solar fotovoltaica utiliza a radiação do sol gerando eletricidade em corrente
							contínua através dos painéis fotovoltaicos, que alimentam uma bomba de água
							especialmente desenvolvida para uso conectada diretamente aos painéis, sem a
							necessidade de baterias. Sempre que houver sol pleno incidindo sobre os painéis, a
							bomba será acionada.
						</ng-template>
					</ngb-panel>
					<ngb-panel title="ON-GRID" type="warning">
						<ng-template ngbPanelContent>
							<p>São sistemas para geração de energia solar fotovoltaica são caracterizados por estarem
								integrados a conexão de rede elétrica local. Diferente dos sistemas isolados que atendem
								a um propósito específico e local, estes sistemas também são capazes de abastecer a
								rede elétrica com energia que pode ser utilizada por qualquer consumidor da rede.</p>
							<p>Sistemas de conexão à rede podem ser utilizados tanto para abastecer uma residência,
								ou então simplesmente produzir e injetar a energia na rede elétrica, assim como uma
								usina hidroelétrica ou térmica. Se o proprietário do sistema produzir mais energia do
								que consome, a energia produzida fará com que o medidor “gire para trás”. Quando
								produzir menos do que consome, o medidor deverá “girar mais devagar”.</p>
							<p>Do ponto de vista dos componentes, um sistema fotovoltaico ON-GRID é composto por
								painéis solares e inversores. Os inversores ON-GRID, além de transformar a corrente
								contínua em alternada, devem sincronizar o sistema com a rede pública. Por o sistema
								estar conectado à rede, a falta de energia é compensada pela mesma, o que elimina a
								necessidade de baterias.</p>
						</ng-template>
					</ngb-panel>
					<ngb-panel title="OFF-GRID" type="warning">
						<ng-template ngbPanelContent>
							<p>São sistemas isolados para geração de energia solar fotovoltaica onde são caracterizados
								por não se conectar a rede elétrica da concessionária local. O sistema abastece diretamente
								os aparelhos que utilizarão a energia e a energia excendentre é armazenada em um banco de baterias.
								São geralmente construídos com um propósito local e específico.</p>
						</ng-template>
					</ngb-panel>
				</ngb-accordion>
			</div>
			<div>
				<div class="sections">
					<img src="assets/img/construction_icon.svg">
					<h3 class="title">Engenharia e Construção</h3>
				</div>

				<ngb-accordion #accB="ngbAccordion">
					<ngb-panel title="Projetos" type="warning" [disabled]="true">
						<ng-template ngbPanelContent>
						</ng-template>
					</ngb-panel>
					<ngb-panel title="Regularização de Imóveis" type="warning" [disabled]="true">
						<ng-template ngbPanelContent>
						</ng-template>
					</ngb-panel>
					<ngb-panel title="Membramento/Desmembramento" type="warning" [disabled]="true">
						<ng-template ngbPanelContent>
						</ng-template>
					</ngb-panel>
					<ngb-panel title="Execução, Administração e Supervisão de obras" type="warning" [disabled]="true">
						<ng-template ngbPanelContent>
						</ng-template>
					</ngb-panel>
				</ngb-accordion>
			</div>
		</div>
	</div>
</div>
