<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/soroush-karimi.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/roswel.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Roswel Piovezani<br /></h4>
                    <h6 class="description">Engenheiro Civil</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Possui graduação em Engenharia Civil pela Universidade Estadual de Goiás(2017), curso-tecnico-profissionalizante
                        em Técnico em Edificações pelo Instituto Federal de Educação, Ciência e Tecnologia de Goiás(2014)
                        e ensino-medio-segundo-grau pelo Colégio Estadual Alfredo Nasser(2008).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Formação Complementar">
                            <ng-template ngbTabContent>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>2017 - 2017<br>
                                                <b style="font-weight:800">Extensão universitária em PLANILHAS AVANÇADAS</b><br>
                                                Universidade Estadual de Goiás, UEG, Brasil</p>
                                            <br>
                                            <p>2014 - 2014<br>
                                                <b style="font-weight:800">Educação Ambiental</b><br>SENAI
                                                - Departamento Regional de Goiás, SENAI/DR/GO, Brasil</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>2012 - 2012<br><b style="font-weight:800">Interpretação dos normativos do PBQP-H, Produtivadade e Auditor
                                                Interno</b><br>>GD Brasil Consultoria e Serviços Ltda, GD
                                                BRASIL, Brasil</p>
                                            <br>
                                            <p>2012 - 2012<br><b style="font-weight:800">AUTOCAD 2D/3D</b><br>ONBYTE FORMÇÃO PROFISSIONAL,
                                                ONBYTE, Brasil.</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>2011 - 2011<br>
                                                    <b style="font-weight:800">Segurança no Trabalho</b><br>SENAI - Departamento Regional de Goiás, SENAI/DR/GO, Brasil</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Eventos">
                            <ng-template ngbTabContent>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>XII SEMANA DE ENGENHARIA CIVIL - UEG. 2014. (Seminário).</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>VISITA TÉCNICA NA EMPRESA MOLD - ESTRUTURAS PRÉ-FABRICADAS. 2013. (Outra).</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>2º SEMANA DE EDIFICAÇÕES DO INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA
                                                DE GOIÁS - CÂMPUS ANÁPOLIS. 2013. (Simpósio).</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Experiência Profissional">
                            <ng-template ngbTabContent>
                                <p>2012 - 2012<br><b style="font-weight:800"> Excel Construtora e Incorporadora Ltda</b><br>                                    Vínculo:
                                    ESTÁGIARIO, Enquadramento Funcional: ESTÁGIARIO II, Carga horária: 30</p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>