<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/wallpaper.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo animated bounceInLeft">
                        <img src="assets/img/icon-sun.svg" alt="Logo">
                    </div>
                </div>
                <h2 class="presentation-title text-center animated bounceInRight">Sua
                    satisfação é a nossa energia</h2>
            </div>
        </div>
    </div>
</div>