<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/wallpaper-min.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo animated bounceInLeft">
                        <img src="assets/img/icon-sun.svg" alt="Logo">
                    </div>
                </div>
                <h2 class="presentation-title text-center animated bounceInRight">Sua satisfação é a nossa energia</h2>
            </div>
        </div>
    </div>
</div>
<div class="section middle-one">
        <div class="container">
        <div class="row" align="middle">
            <div class="col-md-4">
                <img src="assets/img/sol.png"><br><br>
                <h5>Reduza a sua conta<br> em até 95%</h5>
            </div>
            <div class="col-md-4">
                <img src="assets/img/money.png"><br><br>
                <h5>Investimento<br> com alto retorno</h5>
            </div>
            <div class="col-md-4">
                <img src="assets/img/solarpanel.png"><br><br>
                <h5>Painéis solares com vida útil<br> até 40 anos</h5>
            </div>
            <div class="col-md-12 m-top-30">
                <a [routerLink]="['/servicos']"><button type="button" class="btn btn-default btn-round">Conheça nossos
                    serviços</button></a>
            </div>
        </div>
    </div>
</div>
<div class="section middle-two">
    <div class="container">
        <div class="row" align="middle">
            <div class="col-md-4">
                <img src="assets/img/financeiro.png"><br><br>
                <h5>Sua conta de luz<br> imune a <br> Inflação Energética</h5>
            </div>
            <div class="col-md-4">
                <img src="assets/img/casa.png"><br><br>
                <h5>Valorização imediata<br> do seu imóvel</h5>
            </div>
            <div class="col-md-4">
                <img src="assets/img/parcela.png"><br><br>
                <h5>Instale agora<br> e parcele em até<br> 144 meses</h5>
            </div>
            <div class="col-md-12 m-top-30">
                <a [routerLink]="['/servicos']"><button type="button" class="btn btn-default btn-round">Conheça nossos
                    serviços</button></a>
            </div>
        </div>
    </div>
</div>

<div class="section middle-three">
    <div class="container" align="middle">
        <h2><b>Nós cuidamos de tudo
                <hr></b></h2>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <img src="assets/img/projeto.png"><br><br>
                <h5>Projeto</h5>
            </div>
            <div class="col-md-3">
                <img src="assets/img/forne.png"><br><br>
                <h5>Fornecimento</h5>
            </div>
            <div class="col-md-3">
                <img src="assets/img/install.png"><br><br>
                <h5>Instalação</h5>
            </div>
            <div class="col-md-3">
                <img src="assets/img/homo.png"><br><br>
                <h5>Homologação</h5>
            </div>
            <div class="col-md-12 m-top-30">
                <a [routerLink]="['/servicos']"><button type="button" class="btn btn-default btn-round">Conheça nossos
                    serviços</button></a>
            </div>
        </div>
    </div>
</div>
<div class="section middle-four">
    <div class="container" align="middle">
        <h2><b>Como Funciona
                <hr></b></h2>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/img/manha.png"><br><br>
                <button type="button" class="btn btn-outline-info btn-round" placement="bottom" ngbPopover="Seu sistema começa a funcionar logo pela manhã, gerando assim energia elétrica de acordo com a intensidade da luz."
                    popoverTitle="Pela manhã">
                    Manhã
                </button>
            </div>
            <div class="col-md-4">
                <img src="assets/img/sol.png"><br><br>
                <button type="button" class="btn btn-outline-warning btn-round" placement="bottom" ngbPopover="Você está gerando boa parte do consumo e pode até gerar um excedente criando assim créditos energéticos para consumir depois."
                    popoverTitle="Durante o dia">
                    Tarde
                </button>
            </div>
            <div class="col-md-4">
                <img src="assets/img/noite.png"><br><br>
                <button type="button" class="btn btn-outline-default btn-round" placement="bottom" ngbPopover="Caso você tenha gerado créditos durante o dia, você os consome a noite possibilitando até zerar o consumo de energia total."
                    popoverTitle="A noite">
                    Noite
                </button>
            </div>
            <div class="col-md-12 m-top-30">
                <a [routerLink]="['/servicos']"><button type="button" class="btn btn-default btn-round">Conheça nossos
                    serviços</button></a>
            </div>
        </div>
    </div>
</div>
