<footer class="footer ">
	<div class="section color-footer">
		<div class="title text-center text-white">
			<h3>Parceiros Financeiros</h3>
			<hr>
		</div>
		<div class="space-financiadores">
			<div class="space-financiadores__item" *ngFor="let img of images">
				<img [width]="img.size" [src]="imgPrefix + img.url">
			</div>
		</div>
	</div>
	<div class="section color-footer-white text-center">
		<div class="contact-flex-row">
			<div class="contact-flex-row__column" *ngFor="let contact of contacts">
				<div>
					<iframe [src]="contact.maps" height="350" frameborder="0" style="border:0;width: 100%;" allowfullscreen></iframe>
					<p class="local"><i class="fas fa-map-marker-alt"></i>{{contact.address}}</p>
					<p class="local">{{contact.city}}</p>
				</div>
				<div>
					<h2 style="font-weight: 500">Contato
						<hr>
					</h2>
					<p *ngIf="contact.phone"><i class="fas fa-phone"></i>{{contact.phone}}</p>
					<p><i class="fab fa-whatsapp"></i>{{contact.whatsapp}}</p>
					<p><i class="fas fa-envelope"></i>{{contact.email}}</p>
					<a [href]="contact.whatsappLink" target="_blank" class="btn btn-link btn-just-icon social-icons"><i style="font-size: 30px" class="fa fa-whatsapp"></i></a>
					<a [href]="contact.instagram" target="_blank" class="btn btn-link btn-just-icon social-icons"><i style="font-size: 30px" class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
